---
layout: default
---

<!-- Start Hero -->
<div class='hero hidden-xs' style="background: url('{{ site.logo }}') center no-repeat;
background-size: contain;">
	<div class='hero-content'>
		<div class='container-fluid'>
			<div class='hero-content-inner'>
				<h1>{{ site.hero.hero_title }}</h1>
				<p>{{ site.hero.hero_description }}</p>
			</div>
		</div>
	</div>

	<div class='container-fluid'>

		<div class='col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form' style='visibility: hidden;'>
			<h3>
				<svg class='icon icon-envelope-o'>
					<use xlink:href='#icon-envelope-o'></use>
				</svg>
				Make an Appointment
			</h3>
			<form action='https://getsimpleform.com/messages?form_api_token={{ site.api_token }}' method='post'>
				<div class='form-field'>
					<input name='name' type='text' placeholder='Name' required>
				</div>
				<div class='form-field'>
					<input name='phone' type='tel' placeholder='Phone' required>
				</div>
				<div class='form-field'>
					<input name='email' type='email' placeholder='Email' required>
				</div>
				<div class='form-field'>
					<textarea name='comments' placeholder='Message' required></textarea>
				</div>
				<input type='submit' class='btn btn-default' value='Send'>
			</form>
		</div>

	</div>
</div>

<div class='hero-content visible-xs' style='margin-top: 70px;'>
	<div class='container-fluid'>
		<div class='hero-content-inner'>
			<h1>{{ site.hero.hero_title }}</h1>
			<p>{{ site.hero.hero_description }}</p>
		</div>
	</div>
</div>
<!-- End Hero -->


<!-- Start About -->
<div id='about' class='about'>
	<div class='container-fluid'>
		<h2 class='section-title'>About Us</h2>

		<div class='row'>
			<div class='col-sm-12'>
				<h3>Welcome to Mystic Car Care</h3>
				<p>Mystic Car Care offers professional and top quality installations of window tinting, vehicle detailing and ceramic coatings, autostart installation,  and paint correction. We are a hardworking local company, using qualtiy products and offering services at an affordable price.</p>

				<div class='media'>
					<div class='media-left'>
						<div class='boxed-icon'>
							<svg class='icon icon-heart'>
								<use xlink:href='#icon-heart'></use>
							</svg>
						</div>
					</div>
					<div class='media-body'>
						<p>Quality products to protect your investment, block damaging UV rays and increase privacy and heat rejection.</p>
					</div>
				</div>

				<div class='media'>
					<div class='media-left'>
						<div class='boxed-icon'>
							<svg class='icon icon-medkit'>
								<use xlink:href='#icon-medkit'></use>
							</svg>
						</div>
					</div>
					<div class='media-body'>
						<p>Car detailing services keep your vehicle looking like new - whether it be for repairs, maintenance, or getting your vehicle to the next level.</p>
					</div>
				</div>

				<div class='media'>
					<div class='media-left'>
						<div class='boxed-icon'>
							<svg class='icon icon-star'>
								<use xlink:href='#icon-star'></use>
							</svg>
						</div>
					</div>
					<div class='media-body'>
						<p>Lasting protection through ceramic coatings to protect your vehicle from scratches, UV rays and corrosion.</p>
					</div>
				</div>
			</div>
			<!--<div class='col-sm-6'>-->
				<!--<img src='img/about.jpg' alt='...'>-->
			<!--</div>-->
		</div>
	</div>
</div>
<!-- End About -->

<!-- Start Treatments -->
<div id='treatments' class='treatments'>
	<div class='container-fluid'>
		<h2 class='section-title'>Services</h2>

		<div class='row'>
			{% for service in site.data.services %}
			<div class='col-sm-6 col-md-4'>
				<div class='icon-box'>
					<svg class='icon {{ service.icon }}'>
						<use xlink:href='#{{ service.icon }}'></use>
					</svg>
					<h3>{{ service.title }}</h3>
					<h6>{{ service.desc }}</h6>
					{% for price in service.pricing %}
					<h4>{{ price.title }}</h4>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- End Treatments -->

<!-- Start Our team -->
<div id='team' class='team'>
	<h2 class='section-title'>Our Team</h2>
	<div>
		{% for member in site.data.team %}
		<div class='expandable-box'>
			<img src='{{ site.gitlab.url }}/img/team/{{ member.image }}' alt='{{ member.name }}'>
			<h4>{{ member.name }}</h4>
			<small><a href='tel:+{{member.phoneNormalized}}' class='contactInfo'>P: {{ member.phone }}</a></small>
			<br>
			<small><a href='mailto:{{member.email}}' class='contactInfo'>E: {{ member.email }}</a></small>
		</div>
		{% endfor %}
	</div>
</div>
<!-- End Our team -->

<!-- Start Testimonials -->
<div id='testimonials'
     class='testimonials parallax'
     style="background-image: url('{{ site.gitlab.url }}/img/{{ site.testimonials.testimonials_img }}');">
	<div class='overlay-container'>
		<div class='overlay'></div>
		<div class='container-fluid'>
			<div id='testimonial-carousel'>
				{% for testimonial in site.data.testimonials %}
				<div class='testimonial-item'>
					<svg class='icon icon-quote-left'>
						<use xlink:href='#icon-quote-left'></use>
					</svg>
					<blockquote>
						<p>{{ testimonial.description }}</p>
						<footer>
							{{ testimonial.name }}
						</footer>
					</blockquote>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- End Testimonials -->

<!-- Start Gallery -->
<div id='gallery' class='gallery'>

	<h2 class='section-title'>Gallery</h2>

	{% for images in site.data.gallery %}
	<div class='gallery-item image-link'>
		<div class='expandable-box-top'>
			<img src='{{ site.gitlab.url }}/img/gallery/thumb/{{ images.image_thumb }}' alt='{{ images.image_alt }}'>
		</div>
	</div>
	{% endfor %}

</div>
<!-- End Gallery -->

<!-- Start Products -->
<div id='products' class='gallery hidden-xs'>

	<h2 class='section-title'>Products</h2>

	{% for images in site.data.products %}
	<div class='gallery-item image-link'>
		<div class='expandable-box-top' style="height: 360px; background:
		url('{{ site.gitlab.url }}/img/{{ images.image_thumb }}') center no-repeat; background-size: contain">
			<!--<img class='visible-xs' src='/img/{{ images.image_thumb }}' alt='{{ images.image_alt }}'>-->
		</div>
	</div>
	{% endfor %}

</div>

<div id='products' class='gallery visible-xs'>

	<h2 class='section-title'>Products</h2>

	{% for images in site.data.products %}
	<div class='gallery-item image-link' style='width: 100%;'>
		<div class='expandable-box-top'>
			<img class='visible-xs' src='{{ site.gitlab.url }}/img/{{ images.image_thumb }}' style='margin-left: auto;
			margin-right: auto;'>
		</div>
	</div>
	{% endfor %}

</div>
<!--End Products -->

<!-- Start 3 columns -->
<div class='three-shade-col' id='hours' style='margin-bottom: 3em;'>
	<div class='col-sm-4'>
		<svg class='icon icon-envelope-o'>
			<use xlink:href='#icon-envelope-o'></use>
		</svg>
		<h3>Contact Us</h3>
		<ul>
			{% if site.contact.phone %}
			<li><strong>Phone:</strong>
				<a class='contactInfo' href='tel:+{{ site.contact.phoneNormalized }}'>{{ site.contact.phone }}</a></li>
			{% endif %}
			{% if site.contact.emergency %}
			<li><strong>Emergency:</strong> {{ site.contact.emergency }}</li>
			{% endif %}
			{% if site.contact.email %}
			<li><strong>Email:</strong> <a class='contactInfo' href='mailto:{{site.contact.email}}'>{{ site.contact.email
			                                                                                        }}</a></li>
			{% endif %}
		</ul>
	</div>
	<div class='col-sm-4'>
		<svg class='icon icon-clock-o'>
			<use xlink:href='#icon-clock-o'></use>
		</svg>
		<h3>Hours</h3>
		<table>
			<tbody>
			<tr>
				<td>M, TU, TH, FR</td>
				<td>{{ site.monday_friday }}</td>
			</tr>
			<tr>
				<td>W</td>
				<td>{{ site.wednesday }}</td>
			</tr>
			<tr>
				<td>SA</td>
				<td>{{ site.saturday }}</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class='col-sm-4'>
		<svg class='icon icon-map-marker'>
			<use xlink:href='#icon-map-marker'></use>
		</svg>
		<h3>Location</h3>
		<p>
			{{ site.contact.address }}
		</p>
		<a href='https://goo.gl/maps/iVGEz4afZLK2' target='_blank'>
			<button type='button' class='btn btn-info'>Google Maps</button>
		</a>
	</div>
</div>
<!-- End 3 columns -->
