<!-- Start Footer -->
<footer class='main-footer'>
	<div class='container-fluid'>

		<ul class='social'>
			{% if site.facebook %}
			<li><a href='{{ site.facebook }}' target='_blank'>
				<svg class='icon icon-facebook'>
					<use
							xlink:href='#icon-facebook'></use>
				</svg>
			</a></li>
			{% endif %}
			<!--{% if site.twitter %}<li><a href="{{ site.twitter }}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>{% endif %}-->
			<!--{% if site.instagram %}<li><a href="{{ site.instagram }}"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>{% endif %}-->
			<!--{% if site.youtube %}<li><a href="{{ site.youtube }}"><svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg></a></li>{% endif %}-->
			<!--{% if site.skype %}<li><a href="{{ site.skype }}"><svg class="icon icon-skype"><use xlink:href="#icon-skype"></use></svg></a></li>{% endif %}-->
			<!--{% if site.feed %}<li><a href="#"><svg class="icon icon-feed"><use xlink:href="#icon-feed"></use></svg></a></li>{% endif %}-->
		</ul>

		<small>Icons designed by Freepik <a href='http://www.flaticon.com/authors/freepik'
		                                    target='_blank'
		                                    style='color: #f7f7f7;'>http://www.flaticon.com/authors/freepik</a></small>
		<small>{% if site.copyright %} {{ site.copyright }} {% endif %}</small>

	</div>
</footer>
<!-- End Footer -->